<main class="container__home">
	<app-card
	gameCover="assets/bt-1.jpg" gameCoverAlt="BattleField 1"
	gameLabel="DIGITAL"
	gameType="DISC | PS5"
	gamePrice="$ 60.00"
	></app-card>
	<app-card
	gameCover="assets/bt-4.jpg" gameCoverAlt="BattleField 4"
	gameLabel="DIGITAL"
	gameType="DIGITAL | PC"
	gamePrice="$ 30.00"
	></app-card>
	<app-card
	gameCover="assets/bt-5.jpg" gameCoverAlt="BattleField 5"
	gameLabel="DIGITAL"
	gameType="DISC | PS5"
	gamePrice="$ 40.00"
	></app-card>
	<app-card
	gameCover="assets/bt-bad-company-2.jpg" gameCoverAlt="BattleField Bad Company 2"
	gameLabel="DIGITAL"
	gameType="DIGITAL | PC"
	gamePrice="$ 10.00"
	></app-card>
	<app-card
	gameCover="assets/ac-cover.jpg" gameCoverAlt="Assasins creed"
	gameLabel="DIGITAL"
	gameType="DIGITAL | PC"
	gamePrice="$ 30.00"
	></app-card>

</main>
